*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#efefef;
    color:#333;
    line-height:1.8;
}

/* Header */

header{
    background:#046556;
    color:white;
    padding:20px 0;
}

.container{
    width:75%;
    margin:auto;
}

header h1{
    font-size:28px;
    font-weight:400;
    margin-bottom:0px;
    color:rgb(233, 236, 145);
}

nav{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:25px;
}

nav a:hover{
    opacity:0.8;
}

/* About Section */

.about-section{
    width:80%;
    margin:30px auto;
}

.section-title{
    background:#4b73c8;
    color:white;
    padding:12px 20px;
    font-size:32px;
    font-weight:bold;
    margin-bottom:50px;
}

.about-content{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.profile-image img{
    width:280px;
    border-radius:2px;
}

.bio{
    flex:1;
    font-size:18px;
}

.bio p{
    margin-bottom:25px;
}

.bio strong{
    font-weight:700;
}


.two_col {
    display: flex;
    align-items: center;
    gap: 40px;
}

.two_col_left {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: visible;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;  /* Show full image */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active {
    opacity: 1;
}

.two_col_right {
    flex: 1;
}